# Experimenting with Tf-Idf

In [108]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.corpus import PlaintextCorpusReader, stopwords
import regex
import pandas as pd

In [109]:
corpus = PlaintextCorpusReader('../data/ChiLit', r'.*\.txt')
len(corpus.fileids())

71

In [110]:
stops = stopwords.words('english')
stops[:5]

['i', 'me', 'my', 'myself', 'we']

In [111]:
def clean(tok):
    import regex
    return regex.sub(r'[^\p{L}]+', '', tok)

In [112]:
files = [f for f  in corpus.fileids()]

docs = []
for f in files:
    words = [clean(w.lower()) for w in corpus.words(f)]
    docs.append([w for w in words if w != '' and w not in stops])

I want to add The Hobbit to it:

In [113]:
with open('hobbit.txt') as f:
    fname = 'hobbit.txt'
    hbt_txt = f.read()

tks = corpus._word_tokenizer
hbt_toks = tks.tokenize(hbt_txt)

hbt_words = [clean(h.lower()) for h in hbt_toks]
docs.append([w for w in hbt_words if w != '' and w not in stops])

In [114]:
docs[-1][:20]

['unexpected',
 'party',
 'hole',
 'ground',
 'lived',
 'hobbit',
 'nasty',
 'dirty',
 'wet',
 'hole',
 'filled',
 'ends',
 'worms',
 'oozy',
 'smell',
 'yet',
 'dry',
 'bare',
 'sandy',
 'hole']

In [115]:
files.append(fname)
len(files)

72

In [116]:
len(docs)

72

### Raw counts (`CountVectorizer`)

In [117]:
raw_vectorizer = CountVectorizer(analyzer=lambda x: x,
                                 max_df=.90,
                                 min_df=2,
                                #  max_features=10000,
                                 lowercase=False, 
                                 stop_words=None, 
                                 binary=False,
                                 )

dtm = raw_vectorizer.fit_transform(docs)

dtm_array = dtm.toarray()

# Get the feature (word) names
feature_names = raw_vectorizer.get_feature_names_out()

raw_df = pd.DataFrame(dtm_array, columns=feature_names, index=files)

raw_df.head()

,aaa,ab,aback,abaft,abandon,abandoned,abandoning,abandonment,abase,abasement,...,zones,zoo,zoological,zu,zulu,zululand,zulus,à,æneas,æsthetic
alice.txt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
alone.txt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
amulet.txt,0,0,0,0,0,0,0,0,0,0,...,0,6,1,0,0,0,0,0,0,0
beauty.txt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
brass.txt,0,0,0,0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0

In [118]:
raw_df.tail()

,aaa,ab,aback,abaft,abandon,abandoned,abandoning,abandonment,abase,abasement,...,zones,zoo,zoological,zu,zulu,zululand,zulus,à,æneas,æsthetic
willows.txt,0,0,2,0,1,2,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
wind.txt,0,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
winning.txt,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
woodmagic.txt,0,0,1,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hobbit.txt,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Calculate Tf-Idf

In [119]:
df = raw_df

### Using Jurafski and Martin's formula

#### Term frequency (df)

This is the formula they use:

$
\text{tf}_{t,d} =
\begin{cases}
1 + \log_{10}(\text{count}(t, d)) & \text{if } \text{count}(t, d) > 0 \\
0 & \text{otherwise}
\end{cases}$

In [120]:
import numpy as np

def calculate_tf(count):
    return 1 + np.log10(count) if count > 0 else 0

In [121]:
tf_matrix = df.applymap(calculate_tf)

In [122]:
tf_matrix.head()

,aaa,ab,aback,abaft,abandon,abandoned,abandoning,abandonment,abase,abasement,...,zones,zoo,zoological,zu,zulu,zululand,zulus,à,æneas,æsthetic
alice.txt,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
alone.txt,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
amulet.txt,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,1.778151,1.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
beauty.txt,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
brass.txt,0.0,0.0,0.0,0.0,1.477121,1.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.30103,0.0,0.0

#### Inverse Document frequency (idf)

Here's the formula they use:

$\text{idf}_t = \log_{10} \left( \frac{N}{\text{df}_t} \right)$

In [123]:
idf_df = tf_matrix * idfs
idf_df.tail()

,aaa,ab,aback,abaft,abandon,abandoned,abandoning,abandonment,abase,abasement,...,zones,zoo,zoological,zu,zulu,zululand,zulus,à,æneas,æsthetic
willows.txt,0.0,0.0,0.917396,0.0,0.550228,0.567620,1.233595,1.00616,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wind.txt,0.0,0.0,0.000000,0.0,0.550228,0.436285,0.000000,0.00000,0.0,0.0,...,0.0,0.0,0.809866,0.0,0.0,0.0,0.0,0.0,0.0,0.0
winning.txt,0.0,0.0,0.000000,0.0,0.000000,0.436285,0.000000,0.00000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
woodmagic.txt,0.0,0.0,0.705130,0.0,0.715864,0.436285,0.000000,0.00000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
hobbit.txt,0.0,0.0,0.705130,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

"Abandon" in `brass.txt` should be:

In [124]:
txt = 'brass.txt'
term = 'abandon'

t_tf = 1 + log10(raw_df.loc[txt][term])
t_idf = log10(len(docs) / raw_df[raw_df[term] != 0][term].count())
print(t_tf * t_idf)

0.8217262479370613

"Captain" in *Treasure Island* is:

In [125]:
txt = 'treasure.txt'
term = 'captain'

t_tf = 1 + log10(raw_df.loc[txt][term])
t_idf = log10(len(docs) / raw_df[raw_df[term] != 0][term].count())
print(t_tf * t_idf)

0.5932894623617186

In [126]:
idf_df.loc['hobbit.txt'].sort_values(ascending=False).head(20)

elves          4.116413
trolls         3.883555
goblins        3.672943
wizard         3.217640
goblin         3.209503
hoods          2.685397
carven         2.633791
elf            2.609114
dale           2.607026
ravens         2.535418
beards         2.507485
burglar        2.492381
necromancer    2.483559
ponies         2.451000
splintered     2.304893
baa            2.289875
waterfalls     2.289875
scuttling      2.201450
dragons        2.166269
thrush         2.159349
Name: hobbit.txt, dtype: float64

In [127]:
idf_df.loc['treasure.txt'].sort_values(ascending=False).head(20)

hawkins       4.210425
mutineers     3.661217
joyce         3.532588
buccaneers    3.457705
morgan        3.403904
dooty         3.277095
bristol       3.064943
shipmate      2.950224
gigs          2.949074
barbecue      2.860323
anchorage     2.837393
jim           2.831962
stockade      2.780490
davy          2.756540
anderson      2.685397
israel        2.625781
duff          2.483559
jine          2.483559
scuppers      2.483559
swab          2.483559
Name: treasure.txt, dtype: float64

In [128]:
term = 'goblins'

s = raw_df[term]

print("Term frequency", s.sum())
print("Document frequency",  s[s!= 0].count())
print("Inverse document frequency",  get_idf(s))

Term frequency 269
Document frequency 6
Inverse document frequency 1.0791812460476249

In [131]:
idf_df.loc['treasure.txt']['jim']

2.8319624621321293

In [132]:
for v in raw_vectorizer.vocabulary_:
    if v.startswith('treas'):
        print(v)

treasure
treasures
treasured
treasury
treason
treasurer

In [133]:
idf_df[idf_df['beards'] != 0]['beards'].sort_values(ascending=False)

hobbit.txt        2.507485
amulet.txt        1.702070
mulgars.txt       1.499162
coral.txt         1.152288
jungle.txt        1.152288
quatermain.txt    1.152288
Name: beards, dtype: float64

### Using `scikitlearn`'s Tf-Idf Vectorizer

In [134]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [174]:
vectorizer = TfidfVectorizer(analyzer=lambda x: x,
                            max_df=.90,
                            min_df=3,
                            norm='l2',
                            #  max_features=10000,
                            lowercase=False, 
                            stop_words=None, 
                            binary=False)

In [175]:
vect_matrix = vectorizer.fit_transform(docs)

# Get the feature (word) names
feature_names = vectorizer.get_feature_names_out()

tfidf_df = pd.DataFrame(vect_matrix.toarray(), columns=feature_names, index=files)

tfidf_df.head()

,ab,aback,abandon,abandoned,abandoning,abandonment,abasement,abashed,abate,abated,...,zig,zigzag,zone,zones,zoo,zoological,zu,zulu,à,æsthetic
alice.txt,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.002851,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.0
alone.txt,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.0
amulet.txt,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.018632,0.00249,0.0,0.0,0.000000,0.0
beauty.txt,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0,0.000000,0.0
brass.txt,0.0,0.0,0.003209,0.00095,0.0,0.0,0.0,0.001336,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.00000,0.0,0.0,0.002846,0.0

How is the score of the vectorizer computed? Let's take a word like "mountains"

In [176]:
term = 'mountain'
txt = 'hobbit.txt'

In [177]:
df = raw_df[raw_df[term] != 0][term].count()
tf = raw_df.loc[txt][term]
print(tf, df)

173 43

In [178]:
tfidf_df.loc[txt][term]

0.21970729409810297

### Comparing

We can appreciate the differences by comparing the results of:
- tf-idf, J&M's formula
- tf-idf, scikitlearn vectorizer's implementation
- raw frequency

for any given text

In [179]:
txt = 'hobbit.txt'

In [180]:
vectorizer.vocabulary_

{'alice': 446,
 'adventures': 282,
 'wonderland': 20145,
 'chapter': 2770,
 'rabbit': 14091,
 'hole': 8664,
 'beginning': 1498,
 'sister': 16200,
 'bank': 1279,
 'twice': 18761,
 'peeped': 12741,
 'reading': 14253,
 'pictures': 12989,
 'conversations': 3797,
 'considering': 3649,
 'sleepy': 16310,
 'stupid': 17339,
 'whether': 19904,
 'pleasure': 13183,
 'daisy': 4351,
 'chain': 2726,
 'worth': 20204,
 'picking': 12979,
 'daisies': 4350,
 'pink': 13046,
 'remarkable': 14577,
 'afterwards': 348,
 'occurred': 12077,
 'ought': 12257,
 'wondered': 20140,
 'natural': 11688,
 'actually': 186,
 'watch': 19734,
 'waistcoat': 19633,
 'pocket': 13242,
 'hurried': 8902,
 'flashed': 6932,
 'burning': 2321,
 'curiosity': 4277,
 'field': 6787,
 'fortunately': 7242,
 'pop': 13319,
 'hedge': 8462,
 'straight': 17189,
 'tunnel': 18712,
 'dipped': 4981,
 'stopping': 17158,
 'falling': 6549,
 'deep': 4544,
 'plenty': 13192,
 'happen': 8269,
 'sides': 16094,
 'noticed': 11934,
 'cupboards': 4261,
 'shelves': 15911,
 'maps': 10874,
 'pegs': 12755,
 'jar': 9741,
 'labelled': 10058,
 'orange': 12206,
 'marmalade': 10907,
 'disappointment': 5017,
 'drop': 5524,
 'killing': 9959,
 'somebody': 16570,
 'managed': 10821,
 'fall': 6546,
 'tumbling': 18703,
 'stairs': 16945,
 'brave': 2043,
 'likely': 10407,
 'true': 18645,
 'miles': 11200,
 'fallen': 6548,
 'aloud': 496,
 'somewhere': 16578,
 'centre': 2705,
 'earth': 5665,
 'thousand': 18094,
 'learnt': 10273,
 'sort': 16608,
 'lessons': 10337,
 'schoolroom': 15490,
 'opportunity': 12189,
 'showing': 16021,
 'knowledge': 10048,
 'listen': 10466,
 'practice': 13447,
 'distance': 5226,
 'latitude': 10194,
 'longitude': 10574,
 'idea': 8950,
 'nice': 11814,
 'grand': 7905,
 'presently': 13544,
 'funny': 7452,
 'heads': 8398,
 'downward': 5407,
 'listening': 10471,
 'zealand': 20378,
 'australia': 1081,
 'curtsey': 4299,
 'fancy': 6578,
 'curtseying': 4301,
 'manage': 10820,
 'ignorant': 8975,
 'girl': 7697,
 'asking': 921,
 'written': 20276,
 'dinah': 4969,
 'miss': 11301,
 'cat': 2630,
 'saucer': 15381,
 'milk': 11204,
 'tea': 17861,
 'mice': 11174,
 'bat': 1372,
 'mouse': 11522,
 'cats': 2652,
 'bats': 1384,
 'dreamy': 5472,
 'question': 14046,
 'dozing': 5415,
 'begun': 1507,
 'dream': 5464,
 'earnestly': 5659,
 'truth': 18670,
 'thump': 18157,
 'heap': 8410,
 'sticks': 17089,
 'dry': 5554,
 'bit': 1684,
 'hurt': 8906,
 'jumped': 9886,
 'overhead': 12338,
 'passage': 12602,
 'hurrying': 8905,
 'wind': 20046,
 'whiskers': 19942,
 'hall': 8206,
 'lit': 10476,
 'row': 15152,
 'lamps': 10117,
 'hanging': 8259,
 'roof': 15095,
 'doors': 5359,
 'locked': 10529,
 'walked': 19650,
 'sadly': 15269,
 'wondering': 20143,
 'legged': 10305,
 'solid': 16559,
 'glass': 7729,
 'tiny': 18248,
 'golden': 7835,
 'key': 9942,
 'belong': 1545,
 'alas': 428,
 'locks': 10534,
 'rate': 14209,
 'curtain': 4295,
 'fifteen': 6798,
 'inches': 9160,
 'lock': 10528,
 'delight': 4625,
 'fitted': 6888,
 'larger': 10165,
 'rat': 14208,
 'knelt': 10014,
 'loveliest': 10632,
 'longed': 10567,
 'wander': 19666,
 'beds': 1468,
 'bright': 2123,
 'flowers': 7033,
 'cool': 3832,
 'fountains': 7268,
 'doorway': 5362,
 'shoulders': 16002,
 'telescope': 17893,
 'begin': 1497,
 'lately': 10186,
 'impossible': 9093,
 'hoping': 8736,
 'rules': 15201,
 'shutting': 16073,
 'telescopes': 17894,
 'bottle': 1955,
 'neck': 11723,
 'paper': 12514,
 'label': 10057,
 'drink': 5499,
 'beautifully': 1448,
 'printed': 13631,
 'letters': 10342,
 'wise': 20083,
 'hurry': 8904,
 'marked': 10899,
 'poison': 13262,
 'read': 14246,
 'histories': 8624,
 'burnt': 2324,
 'eaten': 5686,
 'wild': 20012,
 'beasts': 1439,
 'unpleasant': 19124,
 'simple': 16151,
 'taught': 17848,
 'poker': 13269,
 'burn': 2318,
 'cut': 4319,
 'finger': 6843,
 'deeply': 4549,
 'knife': 10018,
 'usually': 19292,
 'bleeds': 1748,
 'forgotten': 7203,
 'certain': 2715,
 'disagree': 5004,
 'sooner': 16585,
 'later': 10189,
 'ventured': 19406,
 'taste': 17837,
 'finding': 6835,
 'fact': 6497,
 'mixed': 11341,
 'flavour': 6949,
 'cherry': 2859,
 'tart': 17829,
 'custard': 4312,
 'pine': 13039,
 'apple': 737,
 'roast': 15042,
 'turkey': 18722,
 'toffee': 18287,
 'buttered': 2362,
 'toast': 18276,
 'finished': 6848,
 'curious': 4278,
 'brightened': 2125,
 'size': 16217,
 'lovely': 10634,
 'waited': 19636,
 'shrink': 16043,
 'nervous': 11774,
 'altogether': 517,
 'candle': 2472,
 'flame': 6910,
 'blown': 1816,
 'decided': 4502,
 'possibly': 13385,
 'reach': 14241,
 'plainly': 13111,
 'climb': 3118,
 'legs': 10311,
 'slippery': 16340,
 'crying': 4226,
 'sharply': 15876,
 'advise': 294,
 'minute': 11252,
 'generally': 7606,
 'advice': 291,
 'seldom': 15701,
 'scolded': 15503,
 'severely': 15809,
 'remembered': 14584,
 'box': 1999,
 'cheated': 2826,
 'game': 7534,
 'croquet': 4165,
 'playing': 13165,
 'fond': 7090,
 'pretending': 13573,
 'pretend': 13570,
 'respectable': 14785,
 'person': 12882,
 'cake': 2418,
 'currants': 4286,
 'makes': 10797,
 'grow': 8073,
 'smaller': 16379,
 'creep': 4092,
 'happens': 8272,
 'ate': 999,
 'anxiously': 675,
 'holding': 8662,
 'growing': 8075,
 'surprised': 17582,
 'remained': 14572,
 'eats': 5690,
 'expecting': 6364,
 'dull': 5579,
 'common': 3372,
 'ii': 8978,
 'pool': 13313,
 'forgot': 7202,
 'english': 5996,
 'opening': 12175,
 'largest': 10166,
 'bye': 2381,
 'shoes': 15972,
 'stockings': 17137,
 'dears': 4467,
 'boots': 1929,
 'christmas': 2953,
 'planning': 13128,
 'carrier': 2588,
 'sending': 15723,
 'presents': 13545,
 'odd': 12085,
 'directions': 4989,
 'esq': 6156,
 'hearthrug': 8431,
 'fender': 6728,
 'nonsense': 11889,
 'struck': 17296,
 'nine': 11844,
 'hopeless': 8733,
 'ashamed': 911,
 'shedding': 15895,
 'gallons': 7523,
 'reaching': 14244,
 'pattering': 12668,
 'hastily': 8331,
 'dried': 5486,
 'returning': 14863,
 'splendidly': 16782,
 'kid': 9951,
 'gloves': 7784,
 'fan': 6572,
 'trotting': 18621,
 'muttering': 11627,
 'duchess': 5561,
 'savage': 15391,
 'desperate': 4796,
 'timid': 18223,
 'sir': 16196,
 'violently': 19512,
 'darkness': 4409,
 'fanning': 6583,
 'queer': 14036,
 'yesterday': 20350,
 'changed': 2755,
 'ah': 386,
 'puzzle': 13985,
 'age': 350,
 'goes': 7828,
 'ringlets': 14993,
 'mine': 11229,
 'mabel': 10721,
 'sorts': 16612,
 'puzzling': 13989,
 'twelve': 18758,
 'thirteen': 18066,
 'seven': 15801,
 'multiplication': 11561,
 'signify': 16120,
 'geography': 7641,
 'london': 10561,
 'capital': 2521,
 'paris': 12545,
 'rome': 15090,
 'wrong': 20277,
 'doth': 5376,
 'crossed': 4168,
 'lap': 10151,
 'repeat': 14641,
 'sounded': 16619,
 'hoarse': 8641,
 'crocodile': 4150,
 'improve': 9114,
 'shining': 15942,
 'tail': 17759,
 'pour': 13424,
 'waters': 19752,
 'nile': 11841,
 'scale': 15420,
 'cheerfully': 2841,
 'seems': 15691,
 'grin': 8025,
 'neatly': 11716,
 'spread': 16835,
 'claws': 3068,
 'welcome': 19842,
 'fishes': 6877,
 'gently': 7634,
 'smiling': 16401,
 'jaws': 9751,
 'poky': 13271,
 'toys': 18408,
 'play': 13153,
 'learn': 10268,
 'sudden': 17408,
 'burst': 2329,
 'measure': 11034,
 'guess': 8114,
 'shrinking': 16044,
 'rapidly': 14185,
 'cause': 2656,
 'avoid': 1121,
 'narrow': 11673,
 'escape': 6146,
 'existence': 6348,
 'speed': 16719,
 'declare': 4516,
 'slipped': 16337,
 'splash': 16777,
 'chin': 2900,
 'salt': 15311,
 'somehow': 16571,
 'sea': 15618,
 'case': 2612,
 'railway': 14130,
 'seaside': 15637,
 'general': 7605,
 'conclusion': 3507,
 'wherever': 19901,
 'coast': 3204,
 'number': 11969,
 'bathing': 1380,
 'machines': 10726,
 'digging': 4939,
 'sand': 15332,
 'wooden': 20154,
 'spades': 16651,
 'lodging': 10542,
 'houses': 8805,
 'station': 17009,
 'wept': 19857,
 'swam': 17627,
 'punished': 13927,
 'drowned': 5532,
 'splashing': 16780,
 'nearer': 11709,
 'walrus': 19661,
 'hippopotamus': 8610,
 'harm': 8298,
 'swimming': 17685,
 'speaking': 16686,
 'brother': 2187,
 'latin': 10193,
 'grammar': 7901,
 'inquisitively': 9412,
 'wink': 20064,
 'understand': 18932,
 'daresay': 4399,
 'french': 7329,
 'william': 20026,
 'conqueror': 3617,
 'history': 8625,
 'clear': 3081,
 'notion': 11938,
 'ou': 12255,
 'est': 6165,
 'sentence': 15738,
 'lesson': 10336,
 'leap': 10263,
 'quiver': 14079,
 'fright': 7366,
 'beg': 1492,
 'pardon': 12537,
 'animal': 609,
 'feelings': 6705,
 'shrill': 16035,
 'passionate': 12612,
 'soothing': 16591,
 'tone': 18315,
 'lazily': 10236,
 'sits': 16205,
 'purring': 13964,
 'nicely': 11815,
 'licking': 10374,
 'paws': 12688,
 'washing': 19724,
 'nurse': 11977,
 'catching': 2641,
 'bristling': 2151,
 'offended': 12099,
 'trembling': 18542,
 'subject': 17357,
 'family': 6566,
 'hated': 8344,
 'nasty': 11681,
 'vulgar': 19594,
 'conversation': 3795,
 'dogs': 5322,
 'eagerly': 5646,
 'dog': 5319,
 'eyed': 6476,
 'terrier': 17964,
 'curly': 4284,
 'brown': 2194,
 'fetch': 6749,
 'throw': 18142,
 'belongs': 1549,
 'farmer': 6595,
 'useful': 19280,
 'hundred': 8881,
 'pounds': 13423,
 'kills': 9960,
 'rats': 14215,
 'sorrowful': 16604,
 'commotion': 3377,
 'softly': 16539,
 'passion': 12611,
 'shore': 15984,
 'hate': 8343,
 'crowded': 4183,
 'birds': 1675,
 'animals': 610,
 'duck': 5564,
 'creatures': 4079,
 'party': 12599,
 'iii': 8979,
 'race': 14094,
 'tale': 17773,
 'assembled': 943,
 'draggled': 5422,
 'feathers': 6686,
 'fur': 7453,
 'clinging': 3128,
 'dripping': 5506,
 'wet': 19867,
 'cross': 4166,
 'uncomfortable': 18883,
 'consultation': 3700,
 'familiarly': 6564,
 'argument': 825,
 'sulky': 17454,
 'older': 12136,
 'allow': 471,
 'knowing': 10046,
 'positively': 13372,
 'refused': 14460,
 'authority': 1090,
 'ring': 14988,
 'fixed': 6896,
 'ahem': 389,
 'important': 9083,
 'driest': 5489,
 'silence': 16124,
 'favoured': 6659,
 'pope': 13320,
 'submitted': 17367,
 'wanted': 19675,
 'leaders': 10245,
 'accustomed': 137,
 'conquest': 3619,
 'edwin': 5741,
 'earls': 5655,
 'ugh': 18807,
 'shiver': 15957,
 'frowning': 7411,
 'politely': 13284,
 'proceed': 13666,
 'declared': 4517,
 'patriotic': 12654,
 'archbishop': 801,
 'canterbury': 2501,
 'advisable': 293,
 'crossly': 4174,
 'frog': 7390,
 'worm': 20187,
 'hurriedly': 8903,
 'offer': 12106,
 'crown': 4188,
 'conduct': 3530,
 'moderate': 11362,
 'insolence': 9448,
 'normans': 11903,
 'continued': 3747,
 'turning': 18727,
 'melancholy': 11074,
 'solemnly': 16553,
 'rising': 15014,
 'meeting': 11070,
 'adjourn': 225,
 'immediate': 9016,
 'energetic': 5977,
 'remedies': 14582,
 'meaning': 11024,
 'bent': 1579,
 'hide': 8564,
 'smile': 16398,
 'tittered': 18271,
 'audibly': 1065,
 'paused': 12675,
 'inclined': 9172,
 'explain': 6390,
 'winter': 20073,
 'circle': 2988,
 'exact': 6233,
 'shape': 15857,
 'placed': 13100,
 'liked': 10405,
 'panting': 12507,
 'pressed': 13556,
 'forehead': 7156,
 'position': 13369,
 'shakespeare': 15838,
 'everybody': 6217,
 'prizes': 13654,
 'chorus': 2941,
 'voices': 19558,
 'pointing': 13258,
 'calling': 2436,
 'confused': 3582,
 'despair': 4787,
 'pulled': 13901,
 'comfits': 3321,
 'luckily': 10659,
 'handed': 8237,
 'exactly': 6237,
 'piece': 12994,
 'prize': 13652,
 'gravely': 7956,
 'thimble': 18049,
 'presented': 13541,
 'acceptance': 83,
 'elegant': 5811,
 'speech': 16715,
 'cheered': 2839,
 'absurd': 63,
 'grave': 7952,
 'dare': 4395,
 'laugh': 10201,
 'simply': 16155,
 'bowed': 1985,
 'solemn': 16551,
 'caused': 2657,
 'confusion': 3585,
 'complained': 3422,
 'ones': 12155,
 'choked': 2928,
 'patted': 12665,
 'begged': 1495,
 'promised': 13746,
 'c': 2388,
 'whisper': 19945,
 'sad': 15261,
 'sighing': 16103,
 'fury': 7475,
 'law': 10220,
 'prosecute': 13804,
 'denial': 4674,
 'trial': 18560,
 'cur': 4265,
 'jury': 9900,
 'judge': 9865,
 'wasting': 19732,
 'breath': 2074,
 'cunning': 4257,
 'condemn': 3514,
 'death': 4470,
 'attending': 1034,
 'humbly': 8854,
 'fifth': 6800,
 'bend': 1558,
 'angrily': 605,
 'knot': 10038,
 'undo': 18959,
 'insult': 9492,
 'pleaded': 13173,
 'easily': 5677,
 'growled': 8077,
 'reply': 14665,
 'finish': 6847,
 'joined': 9821,
 'impatiently': 9043,
 'quicker': 14056,
 'pity': 13097,
 'sighed': 16102,
 'crab': 4014,
 'daughter': 4426,
 'lose': 10609,
 'temper': 17900,
 'tongue': 18319,
 'snappishly': 16443,
 'patience': 12647,
 'oyster': 12399,
 'addressing': 209,
 'nobody': 11868,
 'particular': 12580,
 'venture': 19405,
 'pet': 12916,
 'bird': 1673,
 'sensation': 15728,
 'magpie': 10764,
 'wrapping': 20225,
 'remarking': 14580,
 'suit': 17440,
 'throat': 18127,
 'canary': 2465,
 'various': 19356,
 'moved': 11532,
 'mentioned': 11107,
 'lonely': 10565,
 'spirited': 16765,
 'footsteps': 7124,
 'iv': 9708,
 'sends': 15724,
 'bill': 1658,
 'executed': 6309,
 'ferrets': 6737,
 'guessed': 8115,
 'naturedly': 11693,
 'hunting': 8892,
 'nowhere': 11957,
 'since': 16162,
 'swim': 17683,
 'vanished': 19339,
 'completely': 3430,
 'mary': 10944,
 'ann': 616,
 'quick': 14052,
 'direction': 4988,
 'pointed': 13255,
 'mistake': 11317,
 'housemaid': 8803,
 'finds': 6836,
 'neat': 11712,
 'brass': 2039,
 'plate': 13140,
 'w': 19598,
 'engraved': 5999,
 'knocking': 10033,
 'upstairs': 19264,
 'lest': 10338,
 'messages': 11144,
 'fancying': 6579,
 'directly': 4990,
 'ordering': 12218,
 'tidy': 18195,
 'hoped': 8729,
 'pairs': 12451,
 'nevertheless': 11796,
 'uncorked': 18900,
 'lips': 10458,
 'interesting': 9531,
 'whenever': 19891,
 'expected': 6363,
 'drunk': 5548,
 'pressing': 13558,
 'ceiling': 2685,
 'stoop': 17152,
 'save': 15395,
 'kneel': 10009,
 'effect': 5749,
 'elbow': 5797,
 'arm': 837,
 'curled': 4281,
 'resource': 14780,
 'chimney': 2898,
 'become': 1457,
 'magic': 10744,
 'chance': 2748,
 'unhappy': 19033,
 'pleasanter': 13177,
 'ordered': 12217,
 'rabbits': 14092,
 'fairy': 6537,
 'tales': 17777,
 'fancied': 6575,
 'write': 20267,
 'grown': 8080,
 'comfort': 3322,
 'woman': 20135,
 'foolish': 7105,
 'books': 1917,
 'taking': 17772,
 'trembled': 18540,
 'forgetting': 7196,
 'inwards': 9648,
 'attempt': 1025,
 'proved': 13839,
 'failure': 6521,
 'snatch': 16449,
 'shriek': 16031,
 'crash': 4048,
 'concluded': 3505,
 'cucumber': 4233,
 'frame': 7294,
 'pat': 12631,
 'apples': 738,
 'yer': 20349,
 'honour': 8707,
 'sounds': 16625,
 'pronounced': 13761,
 'goose': 7850,
 'fills': 6822,
 'whispers': 19949,
 'coward': 4001,
 'shrieks': 16034,
 'frames': 7296,
 'pulling': 13904,
 'hearing': 8416,
 'rumbling': 15206,
 'ladder': 10081,
 'lad': 10080,
 'em': 5842,
 'tie': 18196,
 'rope': 15109,
 'bear': 1427,
 'loose': 10592,
 'slate': 16287,
 'nay': 11705,
 'master': 10960,
 'shy': 16076,
 'fireplace': 6857,
 'kick': 9947,
 'scratching': 15560,
 'scrambling': 15550,
 'sharp': 15870,
 'brandy': 2038,
 'choke': 2927,
 'fellow': 6715,
 'feeble': 6696,
 'squeaking': 16892,
 'thank': 17994,
 'ye': 20330,
 'flustered': 7054,
 'jack': 9716,
 'sky': 16261,
 'rocket': 15063,
 'instantly': 9468,
 'sense': 15730,
 'moving': 11536,
 'doubt': 5385,
 'shower': 16017,
 'pebbles': 12725,
 'rattling': 14220,
 'hit': 8626,
 'shouted': 16005,
 'produced': 13692,
 'surprise': 17581,
 'cakes': 2420,
 'swallowed': 17624,
 'delighted': 4626,
 'crowd': 4182,
 'lizard': 10500,
 'guinea': 8130,
 'pigs': 13009,
 'giving': 7709,
 'rush': 15225,
 'appeared': 722,
 'thick': 18035,
 'wood': 20152,
 'wandered': 19667,
 'plan': 13121,
 'excellent': 6263,
 'arranged': 858,
 'difficulty': 4932,
 'smallest': 16380,
 'peering': 12746,
 'bark': 1320,
 'enormous': 6031,
 'puppy': 13939,
 'feebly': 6700,
 'stretching': 17249,
 'paw': 12684,
 'touch': 18380,
 'coaxing': 3214,
 'whistle': 19950,
 'terribly': 17963,
 'hungry': 8887,
 'spite': 16771,
 'picked': 12978,
 'stick': 17087,
 'whereupon': 19900,
 'yelp': 20346,
 'rushed': 15226,
 'worry': 20194,
 'dodged': 5312,
 'thistle': 18070,
 'tumbled': 18699,
 'heels': 8477,
 'cart': 2596,
 'horse': 8759,
 'trampled': 18457,
 'series': 15766,
 'charges': 2782,
 'forwards': 7250,
 'barking': 1323,
 'hoarsely': 8642,
 'leant': 10262,
 'buttercup': 2360,
 'fanned': 6582,
 'teaching': 17866,
 'tricks': 18577,
 'blades': 1715,
 'grass': 7935,
 'circumstances': 3000,
 'mushroom': 11596,
 'height': 8481,
 'stretched': 17246,
 'tiptoe': 18256,
 'edge': 5722,
 'immediately': 9017,
 'caterpillar': 2644,
 'folded': 7077,
 'quietly': 14066,
 'smoking': 16415,
 'v': 19305,
 'addressed': 207,
 'languid': 10141,
 'encouraging': 5941,
 'shyly': 16078,
 'sternly': 17081,
 'clearly': 3087,
 'sizes': 16219,
 'confusing': 3584,
 'butterfly': 2364,
 'contemptuously': 3724,
 'irritated': 9684,
 'remarks': 14581,
 'state': 16999,
 'promising': 13748,
 'swallowing': 17625,
 'anger': 598,
 'puffed': 13893,
 'unfolded': 19005,
 'busy': 2351,
 'bee': 1473,
 'incessantly': 9158,
 'youth': 20370,
 'son': 16580,
 'feared': 6670,
 'injure': 9373,
 'brain': 2020,
 'perfectly': 12819,
 'uncommonly': 18886,
 'fat': 6625,
 'somersault': 16573,
 'pray': 13467,
 'sage': 15279,
 'grey': 8002,
 'limbs': 10419,
 'supple': 17532,
 'ointment': 12134,
 'shilling': 15931,
 'sell': 15712,
 'couple': 3959,
 'weak': 19779,
 'tougher': 18386,
 'suet': 17410,
 'bones': 1904,
 'beak': 1418,
 'argued': 823,
 'wife': 20006,
 'muscular': 11591,
 'strength': 17237,
 'jaw': 9749,
 'lasted': 10181,
 'steady': 17033,
 'balanced': 1227,
 'eel': 5743,
 'nose': 11915,
 'awfully': 1146,
 'clever': 3105,
 'questions': 14050,
 'airs': 411,
 'stuff': 17320,
 'timidly': 18225,
 'altered': 507,
 'decidedly': 4503,
 'changing': 2758,
 'contradicted': 3759,
 'losing': 10611,
 'content': 3727,
 'wretched': 20250,
 'rearing': 14275,
 'upright': 19254,
 'piteous': 13081,
 'patiently': 12649,
 'chose': 2942,
 'yawned': 20328,
 'crawled': 4061,
 'merely': 11123,
 'taller': 17786,
 'shorter': 15992,
 'thoughtfully': 18088,
 'difficult': 4930,
 'nibbled': 11811,
 'violent': 19511,
 'blow': 1813,
 'underneath': 18931,
 'closely': 3146,
 'swallow': 17623,
 'morsel': 11465,
 'free': 7318,
 'alarm': 423,
 'immense': 9019,
 'length': 10321,
 'rise': 15011,
 'stalk': 16951,
 'result': 14824,
 'follow': 7084,
 'shaking': 15839,
 'distant': 5229,
 'serpent': 15772,
 ...}

In [181]:
tfidf_df.loc[txt].sort_values(ascending=False).head(20)

goblins      0.434264
elves        0.307255
mountain     0.219707
dragon       0.188354
wizard       0.174834
goblin       0.172014
ponies       0.131696
lake         0.118012
mountains    0.112937
forest       0.109969
river        0.108892
trolls       0.105335
dale         0.101712
dwarf        0.100597
king         0.095806
valley       0.090629
tunnel       0.085054
eagles       0.082713
spiders      0.078728
burglar      0.078240
Name: hobbit.txt, dtype: float64

In [164]:
idf_df.loc[txt].sort_values(ascending=False).head(20)

elves          4.116413
trolls         3.883555
goblins        3.672943
wizard         3.217640
goblin         3.209503
hoods          2.685397
carven         2.633791
elf            2.609114
dale           2.607026
ravens         2.535418
beards         2.507485
burglar        2.492381
necromancer    2.483559
ponies         2.451000
splintered     2.304893
baa            2.289875
waterfalls     2.289875
scuttling      2.201450
dragons        2.166269
thrush         2.159349
Name: hobbit.txt, dtype: float64

In [165]:
raw_df.loc[txt].sort_values(ascending=False).head(20)

mountain     173
goblins      154
dragon       112
river        105
elves         99
forest        96
king          95
mountains     93
lake          82
gold          73
ring          72
balin         69
path          68
mr            68
valley        64
stone         64
town          63
wizard        62
goblin        61
gate          59
Name: hobbit.txt, dtype: int64